@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.background {
    background-image: url("../../assets/bg.jpg");
    background-position: center;
    background-size: initial;
    margin: 0 auto;
    color: black;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    overflow: auto;
}

.show-product-wrapper {
    margin: 80px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.show-product-list {
    flex: 1;
    overflow-y: auto;
    margin: 30px 0 0 40px;
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 80vw;
    height: auto;
}

.show-product-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    max-height: 400px;
    justify-content: space-between;
    background-color: white;
    padding: 20px 0 20px 40px;
    margin-bottom: 30px;
}

.show-product-item-general-info {
    display: flex;
    justify-content: space-between;
}

.show-product-item img {
  width: 100%;
  max-width: 200px;
  height: auto;
  max-height: 200px;
  margin-bottom: 10px;
}

.show-product-image-show {
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-product-info-item {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
}

.show-product-item-info {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show-product-pay-btn {
    display: inline-block;
    margin-right: 10px;
    background-color: rgb(152, 202, 237);
    color: white;
    border: 2px;
    border-radius: 4px;
    cursor: pointer;
    border-style: none;
    font-weight: bold;
    font-size: 20px;
    width: 100px;
    height: 50px;
}

.show-product-pay-btn:hover {
  background-color: #0074D9;
}

.category {
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 50px;
}

.category button {
    margin-right: 10px;
    padding: 5px 10px;
    color: black;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.category-show-button:hover {
  background-color: #0074D9;  
}
